<header id="header" class="header">
  <div class="header-page bg-primary">
    <a class="toggle-offcanvas bg-primary" (click)="toggleNav()"><span></span></a>
    <h1 class="header-page-siteTitle">
      <a routerLink="/">RSVP</a>
    </h1>
    <div class="header-page-authStatus">
      <a *ngIf="!auth.loggedIn" (click)="auth.login()">Log In</a>
      <span *ngIf="auth.loggedIn">
        {{auth.userProfile?.name}} <span class="opacity-half">|</span> <a (click)="auth.logout()">Log Out</a>
      </span>
    </div>
  </div>

  <nav id="nav" class="nav" role="navigation">
    <ul class="nav-list">
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Events</a>
      </li>
    </ul>
  </nav>
</header>

<!--
  routerLink - Lets you link to specific parts of your app.
    how to use: 
      Consider the following route configuration: 
        [{ path: 'user/:name', component: UserCmp }]
      When linking to this user/:name route, you can write:
        <a routerLink='/user/bob'>link to user component</a>

  routerLinkActive - 
  Lets you add a CSS class to an element when the link's route becomes active.
    how to use:
      <a routerLink="/user/bob" routerLinkActive="active-link">Bob</a>
  
  in other words, We'll specify:
    1) the route we want to navigate to
    2) the class to be applied when that route is active.
  
  [routerLinkActiveOptions] - 
    to ensure an exact match to the / path in the case of the root route.
    Otherwise, this link will receive the active class whenever any route containing / is active.
 -->